# Analiza i bazy danych

## Klasyfikatory

### dr hab. inż. Jerzy Baranowski, Prof. AGH

1. Definicja problemu
2. Rodzaje zadania: binarne/wieloklasowe
3. Metryki oceny 
4. Confusion matrix
5. ROC
6. Klasyfikatory binarne
7. Regresja logistyczna
8. Regresja probitowa
9. Regularyzacja
10. Dobór parametru
11. Klasyfikatory wieloklasowe
12. Softmax
13. k-NN
14. drzewa decyzyjne
15. lasy losowe
16. naiwny klasyfikator bayesowski

## Definicja

Niech $\mathcal{X}$ będzie zbiorem obiektów, zaś $\mathcal{Y}$ zbiorem klas (skończonym).

Klasyfikatorem jest funkcja, która danemu obiektowi $ x\in\mathcal X$ przydziela klasę $y\in \mathcal{Y}$. 

W praktyce, operacji się nie dokonuje na obiektach $x$, ale przynależnych do nich wektorach cech $\mathbf{x}$ należących do zbioru $X$.

## Problemy binarne i wieloklasowe 

Problem binarny, to taki w którym zbiór $\mathcal{Y}$ jest zbiorem dwuelementowym (najczęściej reprezentowanym przez $\{0,\ 1\}$)

Przykład - określenie *chory*-*zdrowy* na podstawie wektora danych

Problem wieloklasowy umożliwia wiele klas.

Przykład - rozpoznanie gatunku rośliny ze zdjęcia.

## Dummy variables

Dla ułatwienia klasyfikacji (tak aby mieć wartości numeryczne) kolumnę z kategorią zamienia się na grupę kolumn (tyle ile klas), w których w danym wierszu tylko jedna może być równa 1.

### Przykład

In [6]:
import pandas as pd
s = pd.DataFrame({'Race':['York','York','Poodle','Newfoundlaner']})

In [7]:
s

            Race
0           York
1           York
2         Poodle
3  Newfoundlaner

In [8]:
pd.get_dummies(s)

   Race_Newfoundlaner  Race_Poodle  Race_York
0                   0            0          1
1                   0            0          1
2                   0            1          0
3                   1            0          0

## Ocena klasyfikacji

Klasyfikator może dokonywać przydziału prawidłowo lub nie, na wiele sposobów. 

W klasfikacji binarnej możemy wyróżnić klasę pozytywną **P** i negatywną **N**. 

Możliwe są cztery wyniki klasyfikacji:
- **TP** - *true positive* - prawidłowo rozpoznano stan pozytywny
- **TN** - *true negative* - prawidłowo rozpoznano stan negatywny
- **FP** - *false positive* - nieprawidłowo rozpoznano stan negatywny
- **FN** - *false negative* - nieprawidłowo rozpoznano stan pozytywny

## Metryki oceny

- Czułość (*sensitivity*, *recall*, *hit rate*, *true positive rate* (**TPR**))

$$ TPR = \frac{TP}{P} = \frac{TP}{TP+FN} $$

- Swoistość (*specificity*, *selectivity*, *true negative rate* (**TNR**) )

$$ TNR = \frac{TP}{P} = \frac{TP}{TP+FN} $$